.DS_Store
.idea/

build/
dist/
*.egg-info
*.pyc

.bin/
.cache/

doc/sphinx/_build/
*/__pycache__/

test/working_dir/

*/htmlcov/
.coverage
coverage.xml

.aux
.freeze
/freeze_requirements.txt
/env
/setenv

*.json
