git+https://github.com/sonntagsgesicht/auxilium
bandit
coverage
dulwich
flake8
pycodestyle
pydocstyle
pylint
pytest
pytest-cov
regtest
Sphinx
sphinx-math-dollar
sphinx-rtd-theme
karma-sphinx-theme
sphinx-pytype-substitution
sphinxcontrib_programoutput
