git+https://github.com/sonntagsgesicht/auxilium
bandit
black
coverage
# darglint
dulwich
flake8
isort
pycodestyle
pydocstyle
pylint
pytest
pytest-cov
regtest
safety
Sphinx
sphinx-math-dollar
sphinx-rtd-theme
karma-sphinx-theme
sphinx-pytype-substitution
sphinxcontrib_programoutput
